# Byte-compiled and optimized files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/
.venv/
.env/

# Environment variables
.env
.env.*
!/.env.example
chatbot.db

# IDE configuration files
.vscode/
.idea/

# Build artifacts
build/
dist/
*.egg-info/

# Test artifacts
.pytest_cache/
.coverage
htmlcov/

# OS-specific files
.DS_Store
Thumbs.db
public/.streamlit/secrets.toml
